.sliderHome {
  position: relative;
  width: 100%;
  padding: clamp(40px, 5vh, 5vh) 0;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../../../public/home-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider {
  width: 100%;
  height: calc(100vh - clamp(40px, 5vh, 5vh));
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  row-gap: clamp(20px, 2vh, 2vh);
}
.slide {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 2vh, 2vh);
}
.buttonContainer {
  display: flex;
  align-items: center;
  column-gap: clamp(10px, 1vw, 1vw);
}
.videoContainer {
  width: 100%;
  height: 450px;
}

.videoPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.videoContent {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
}
/* .closeButton svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
} */

.closeButton:hover {
  color: var(--secondary);
}

.playButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: var(--color-black);
  border: none;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  cursor: pointer;
  transition: color 0.3s;
}

.playButton:hover {
  color: var(--primary);
}
.sliderMobile {
  display: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .sliderMobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sliderHome,
  .slider {
    height: auto;
    min-height: auto;
  }
  .sliderHome {
    background: var(--background-1);
  }
  .slide {
    width: 100%;
  }
}
