.thirukuralSection {
  position: relative;
  padding: clamp(40px, 7vh, 7vh) 0;
  background-color: var(--background-1);
  display: flex;justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 2vw, 2rem);
  max-width: 650px;
}

.slide {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  transition: transform 0.5s ease;
}

.kural p {
  font-size: 1.1rem;
  line-height: 2rem;
  white-space: pre-line;display: flex;justify-content: start;align-items: center;
}

.animateSlide {
  animation: slideAnimation 0.5s ease forwards;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .slider,
  .slide {
    flex-direction: column;
    align-items: baseline;
  }
}
