.WhatWeDo {
  position: relative;
  padding: clamp(60px, 7vh, 7vh) 0;
  background-color: var(--background-1);
}
.wwdRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(20px, 2vw, 2vw);
}
.wwdCol1 {
  display: flex;
  flex-direction: column;
  row-gap: clamp(30px, 3vh, 3vh);
}
.wwdCol2 {
  position: relative;
  overflow: hidden;
}
.wwdCol2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}
.wwdCol2 img:hover {
  transform: scale(1.1);
}
.wwdIconBox {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: clamp(10px, 1vw, 1vw);
}

@media only screen and (min-width: 1201px) {
  .WhatWeDo {
    padding-bottom: clamp(60px, 25vh, 25vh);
  }
}

@media only screen and (max-width: 768px) {
  .wwdRow {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
