.AboutSection1 {
  position: relative;
  padding: clamp(60px, 7vh, 7vh) 0;
  background-color: var(--color-white);
  background-image: url("../../../public/home/about-bg.png");
  background-position: right top;
  background-repeat: no-repeat;
}
.AboutSection1Row {
  display: flex;
  flex-direction: column;
  row-gap: clamp(30px, 3vh, 3vh);
}
.AboutSection1Col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(20px, 2vw, 2vw);
  align-items: center;
}
.AboutSection1ColInner {
  position: relative;
}
.AboutSection1ColInner .AboutSection1ColInner1Img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.AboutSection1ColInner2 {
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 2vh, 2vh);
}
.AboutSection1Col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: clamp(20px, 2vw, 2vw);
}
.AboutSection1Col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: clamp(20px, 2vw, 2vw);
  margin-top: 20px;
}
.asBox {
  display: flex;
  flex-direction: column;
  row-gap: clamp(8px, 0.8vh, 0.8vh);
  background-color: var(--background-1);
  padding: clamp(20px, 2vw, 2vw);
  transition: all 0.3s ease;
}
.AboutSection1Col3 .asBox:nth-child(1) {
  background-color: var(--primary);
}
.AboutSection1Col3 .asBox:nth-child(1) h4,
.AboutSection1Col3 .asBox:nth-child(1) p {
  color: var(--color-white);
}
.asBox:hover {
  background-color: var(--primary);
}
.asBox:hover h4,
.asBox:hover p {
  color: var(--color-white);
}

@media only screen and (max-width: 768px) {
  .AboutSection1Col {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .AboutSection1Col2 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .AboutSection1Col3 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
