.GalleryMain {
  position: relative;
  padding: clamp(60px, 7vh, 7vh) 0;
  background-color: var(--color-white);
  padding-top: 0;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  color: var(--primary);
  font-weight: bold;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pageButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.pageButton.active {
  font-weight: bold;
  background-color: var(--secondary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabsHr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: clamp(30px, 4vh, 4vh) 0;
}

@media only screen and (max-width: 768px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
